.place__paragraphs{
  max-width: 700px;
  width: 100%;
  margin: 0%;
  gap: 26px;
  display: flex;
  flex-direction: column;
}



@media screen and (max-width:1279px) {
  .place__paragraphs {
      max-width: 456px;

  }
}

@media screen and (max-width:1023px) {
  .place__paragraphs {
      font-size: 18px;
      max-width: 352px;

      display: grid;

  }
}

@media screen and (max-width:767px) {
  .place__paragraphs {
      max-width: 288px;
      padding-left: 16px;
  }
}
