.place__website-link{
  font-size: 18px;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  text-decoration-line: underline;
  color: #FFFFFF;
}

.place__website-link:hover {
  opacity: 0.8;
  transition: 1s;
}


