.intro {
  max-width: 690px;
  width: 100%;
  padding: 92px 0% 0% 48px;
  color: #FFF;
  display: flex;
  flex-direction: column;

}



@media screen and (max-width:1023px) {
  .intro {
    max-width: 720px;
    padding: 88px 0% 0% 24px;
  }
}

@media screen and (max-width:767px) {
  .intro {
    max-width: 288px;
    padding: 64px 0% 0% 16px;
  }
}
