.place__website{
  padding: 0% 0% 48px 0%;
  justify-content: flex-end;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width:767px) {
  .place__website {
    padding-bottom: 32px;
    max-width: 288px;
    padding-left: 16px;
  }
}

